[2020-10-05 12:32] SethWalkeroo opened #1 "Create a "Zen Mode" for the text editor"
Quiet-Text is a Python text editor made with tkinter. Right now there is a "Quiet Mode" tab in the text editor's menu, but it doesn't currently do anything. The idea is that when you push the "Quiet Mode" button, it hides the menu bar and the status bar from the user's view. The only thing that should be visible is the text area of the application. I want this to function similar to Visual Studio

[2020-10-05 12:34] SethWalkeroo opened #2 "Add a hex color wheel to the menu bar"
Right now you can edit the colors of the application in the settings.json file, but it would be nice if you could also select and look for hex colors inside the text editor. Implement a color wheel of sorts that allows users to copy and paste hex values without having to use google.

[2020-10-05 17:52] Ryuno-Ki commented on #2
I'd like to take a stab on it.

I already discovered tkinter's colorchooser, which should work here.
Can you assign it to me?

[2020-10-05 18:51] SethWalkeroo commented on #2
@Ryuno-Ki Sure, go ahead!

[2020-10-05 19:31] SethWalkeroo commented on #2
@Ryuno-Ki Let me know if you have any questions about the existing code. I haven't taken the time to go through and comment everything so I am aware that it might be difficult to read.

[2020-10-05 19:47] Ryuno-Ki commented on #2
I filled #3.

Some bits required research (since Python's docs on `tkinter.choosecolor.askcolor()` are … sparse), but it works for the most parts.

I tested it locally on my Sabayon Linux. Sadly, the Python interpreters here are compiled without Tk support, so I wrote a Dockerfile to run the code in.

[code]

Once I prepared my environment like this:
`XAUTH="$HOME/.Xauthority"`

and built an image

[2020-10-05 20:02] #2 closed

[2020-10-05 20:08] SethWalkeroo commented on #2
@Ryuno-Ki It worked great for me. You can add this to the README.md in case anyone else runs into a similar issue. Maybe create a new section for "Installation/setup" or something along those lines.

[2020-10-05 20:10] Ryuno-Ki commented on #1
For reference: https://code.visualstudio.com/docs/getstarted/tips-and-tricks#_zen-mode

Leaving with <kbd>Esc</kbd>?

[2020-10-05 20:13] SethWalkeroo commented on #1
Oh good idea to link it. Thank you. Yes, exit with <kbd>Esc</kbd>. Basically a clone of that feature in VS Code.

[2020-10-05 21:01] Ryuno-Ki opened #5 "Add Installation section to README.md"
See https://github.com/SethWalkeroo/Quiet-Text/issues/2#issuecomment-703850191

This will explain how to provide a small Dockerfile for local development (in case Python isn't compiled with Tk support).

[2020-10-05 21:53] SethWalkeroo opened #6 "Create a pop up message that asks the user if they want to save before exiting."
The pop up should either instantly save the file if it already exists, or allow the user to do the "save as" function if it has never been saved before.

[2020-10-05 22:04] JanhaviDahihande commented on #6
Hey @SethWalkeroo I would like to take up this issue!

[2020-10-05 22:09] SethWalkeroo commented on #6
@JanhaviDahihande Awesome! Go for it, assigned to you. Reach out to me if you have any questions about the code, I am aware there aren't any comments yet and it might be hard to read.

[2020-10-06 00:10] #1 closed

[2020-10-06 02:29] SethWalkeroo opened #7 "Add Python syntax highlighting to the text editor"
This is one of the more advanced and important issues to tackle.

[2020-10-06 02:30] SethWalkeroo opened #8 "Add line numbering to the text editor"
I am currently working on this issue.

[2020-10-06 02:32] SethWalkeroo opened #9 "Add functionality to the right click popup menu"
Right now we have a right click popup menu with three options: cut, copy, paste. None of these options actually do anything at the moment and that sucks. The goal is to add functionality to these popup options.

[2020-10-06 02:34] SethWalkeroo opened #10 "Add comments to explain existing code"
This isn't too important, but it would be great to have comments explaining the code for new contributors. I will try to work on this in my spare time.

[2020-10-06 02:37] SethWalkeroo opened #11 "Improve settings.json to adjust more features in the editor."
Right now settings.json only effects the font, background color, and text color of the editor. It would be really cool for it to adjust things like line height and menu colors as well

[2020-10-06 04:03] JuliusChrona commented on #11
@SethWalkeroo Hello, i want to do it. Can you assign me? ^_^

[2020-10-06 04:06] SethWalkeroo commented on #11
@JuliusChrona For sure! Message me if you need help with anything.

[2020-10-06 04:12] JuliusChrona commented on #11
Ok, i made line height

[2020-10-06 04:47] SethWalkeroo commented on #11
@JuliusChrona Ok, make a pull request so I can review your change and merge it with the main branch.

[2020-10-06 15:54] Ryuno-Ki commented on #6
@Ryuno-Ki is now known as @JanhaviDahihande :-D

[2020-10-06 16:35] SethWalkeroo commented on #6
Well that's embarrassing. Woops!

[2020-10-06 16:39] Ryuno-Ki commented on #7
I think, [Pygments](https://pypi.org/project/Pygments/) would be the way to go here.

There are [resources on StackOverflow](https://stackoverflow.com/q/29688831) or [other projects on GitHub](https://github.com/JamesStallings/pyro/blob/bde0bd6d31d94b0fe4cf07f682ee11cafe2be8b5/pyro) which could be used to get some ideas on how to get started.

[2020-10-06 17:30] #5 closed

[2020-10-06 17:32] SethWalkeroo commented on #7
@Ryuno-Ki I've mulled over stack overflow a bit. I will check out Pygments. Thank you for the resources!

[2020-10-06 21:10] AyonPal commented on #9
I would really love to work on that issue

[2020-10-06 21:50] SethWalkeroo commented on #9
@AyonPal Sure, go for it! Assigned the issue for you. Message me if you have any issues.

[2020-10-06 22:49] SethWalkeroo opened #14 "Create tabs that allow for multiple windows in the text editor."
Right now you can only have one document open at a time, and that greatly inhibits productivity. The goal is to create tabs that allows a user to switch between multiple opened documents.

[2020-10-07 02:20] SethWalkeroo opened #16 "Allow user's to change the font size with CTRL and scroll-wheel."
This is one of my favorite features in both Atom and Sublime text. It would be awesome to have a simple and easy way to change the font size.

[2020-10-07 05:16] hrishikesharma commented on #9
I have solved this.

Can I open a pull request?

[2020-10-07 06:04] SethWalkeroo commented on #9
@hrishikesharma Sure

[2020-10-07 06:33] aishuo07 commented on #10
Can i work on this

[2020-10-07 06:39] SethWalkeroo commented on #10
@aish0007 sure, if you want to, but the code is up to change and a lot of things may change down the line.

[2020-10-07 06:40] aishuo07 commented on #10
okay then i will add comments as soon as something is added every time is that okay

[2020-10-07 06:44] SethWalkeroo commented on #10
@aish0007 Sure, if you can comment everything accurately. It might be better if I just comment the code myself, but if you're down for actually reading and understanding things, you can go for it.

[2020-10-07 06:45] aishuo07 commented on #10
okay then assign me this task

[2020-10-07 07:50] #8 closed

[2020-10-07 08:22] #11 closed

[2020-10-07 09:10] tdserapio commented on #16
Although I still need to research some parts of this, may I be assigned? Thank you very much! This is also really interesting...

[2020-10-07 09:16] SethWalkeroo commented on #16
@tdserapio Sure, give it a shot. This would be really great! Reach out if you have questions about anything.

[2020-10-07 09:19] tdserapio commented on #16
Thank you so much @SethWalkeroo !

[2020-10-07 09:26] #9 closed

[2020-10-07 09:42] SethWalkeroo opened #18 "Change the file dialog text to black so it is visible when opening new files."
The file dialog text to display files listed in directories is white, and in effect, invisible to the user.It would be helpful to know the name of the file you are clicking on in the menu.

[2020-10-07 09:59] tdserapio commented on #16
One question @SethWalkeroo , what is the maximum font size?

[2020-10-07 10:05] SethWalkeroo commented on #16
@tdserapio I don't believe there is one. Does there need to be?

[2020-10-07 10:06] tdserapio commented on #16
Oh, because sometimes, when you scroll too much, it will get so big that it probably would not fit anymore.

[2020-10-07 10:08] SethWalkeroo commented on #16
@tdserapio I think it's fine for that to happen as long as it doesn't break the program in some way.

[2020-10-07 11:06] tdserapio commented on #16
Is there already some code for font_size or may I make it myself?

[2020-10-07 11:11] SethWalkeroo commented on #16
There is a setting called 'font_size' that is used to configure 'self.font_style' in the text area. Besides that, I don't believe there is any  sort of functionality/code to control the font size. You can whatever you need to and we can make improvements if necessary. I apologize for there is a messy mixture of hard coded features and variables at the moment. I really just wanted to get things wor

[2020-10-07 11:19] tdserapio commented on #16
Thank you for the information. Much appreciated

[2020-10-07 12:51] tdserapio commented on #16
I have some bad news. So, I have a lot of things to do right now, so is it okay if this may be assigned to another willing person?

[2020-10-07 13:26] aishuo07 commented on #10
i have created a pull request please review

[2020-10-07 14:12] erzaliator opened #20 "Running a file in Windows machine doesn't run the code."
**Describe the bug**
If you have Quiet-Text in installed in a Windows machine, running a py file (Ctrl+b), issues the gnome-terminal command causing it to not execute.

**To Reproduce**
Steps to reproduce the behavior:
1. Open your python file.
2. Press Ctrl+b.
3. See the cmd terminal for error.

**Expected behavior**
The code should instead run a child cmd terminal and execute the python command

[2020-10-07 14:12] erzaliator commented on #20
I already have a tested solution in place, could you please assign me the issue? @SethWalkeroo

[2020-10-07 14:24] satyam2912 commented on #18
can i work on this issue?

[2020-10-07 15:44] sumasreeeduru commented on #16
Can you assign me?

[2020-10-07 15:51] Thanarathanam commented on #16
I would like to work on this issue. Can you assign it to me?

[2020-10-07 17:48] hrishikesharma commented on #6
can i give it a try?

[2020-10-07 19:02] SethWalkeroo commented on #20
@erzaliator Ah, thanks for testing this. You can make the changes for it to work on your system, but the main issue is that there are many different terminal applications out there and i'm not sure if we can handle for all of them. The ultimate solution would be to create an integrated terminal for the text editor, but that would be quite difficult. I have assigned this issue to you, but it is a m

[2020-10-07 19:02] SethWalkeroo commented on #18
@satyam2912 Sure, go ahead.

[2020-10-07 19:03] SethWalkeroo commented on #16
@tdserapio Of course, do what you need to do.

[2020-10-07 19:03] SethWalkeroo commented on #16
@Thanarathanam Yep, assigned to you.

[2020-10-07 19:59] #16 closed

[2020-10-07 20:16] WhiteHeadbanger commented on #7
Hi! I would like to contribute on this. It would be my first contribution ever

[2020-10-07 20:34] SethWalkeroo commented on #7
@WhiteHeadbanger You can contribute to the project, but i'm not really sure how I want to tackle this specific issue yet. If you have something you want to improve on or fix, you can create an issue, and then make a pull request accordingly.

[2020-10-07 20:59] WhiteHeadbanger commented on #7
Fair enough. I'll be using the software for a bit to get familiarized with it

[2020-10-07 22:45] SethWalkeroo opened #23 "Make it so the scroll bar doesn't work when resizing the font with CTRL + MouseWheel"
We just implemented font resizing with ctrl and mouse wheel but it still scrolls the screen while you resize the text. This is bad for long documents when you want to increase the text size but not scroll to the bottom at the same time.

[2020-10-07 23:40] #18 closed

[2020-10-08 01:41] aishuo07 commented on #6
Is this open to work upon or it is completed

[2020-10-08 01:50] SethWalkeroo commented on #6
@aish0007 This is open. It is assigned, but i'll except a pull request if you have a solution.

[2020-10-08 01:51] aishuo07 commented on #6
Okay thanks

On Thu, 8 Oct, 2020, 7:20 am Seth Walker, <notifications@github.com> wrote:

[2020-10-08 02:43] SethWalkeroo opened #24 "Create key binding documentation for the readme"
This should be pretty. Add a section to the readme that displays all of the keybindings for the text editor.

E.G.    <kbd>ctrl</kbd> + <kbd>c</kbd> | Copy

[2020-10-08 06:18] thainapires commented on #24
Hi @SethWalkeroo ! I would like to do this task. Could you assign it to me? 😃

[2020-10-08 06:21] SethWalkeroo commented on #24
@thainapires Sure!

[2020-10-08 07:26] #10 closed

[2020-10-08 07:34] SethWalkeroo opened #27 "Add the ability to bold and highlight text when working in text files"
This feature is for note taking and should only work in .txt files.

[2020-10-08 07:34] aishuo07 commented on #6
I created a pull request please review it

[2020-10-08 07:42] aishuo07 commented on #6
please add HackOctober accepted tag

[2020-10-08 08:31] Sid200026 commented on #23
I can work on this

[2020-10-08 08:36] SethWalkeroo commented on #23
@Sid200026 Cool! Assigned to you.

[2020-10-08 08:49] punidramesh commented on #27
Hi, I would like to attempt to fix this issue.

[2020-10-08 08:53] SethWalkeroo commented on #27
@punidramesh Sure give it a shot. Assigned to you.

[2020-10-08 09:15] punidramesh commented on #27
I noticed that 'Ctrl + B' is assigned to 'Run file'. Can that be assigned to 'Ctrl + R' or anything other key-binding ? It would make more sense to use 'Ctrl + B' for making the text bold.

[2020-10-08 09:32] SethWalkeroo commented on #27
@punidramesh Yeah, you can rebind that. The run function only works on gnome terminals right now, so it is basically non functional anyway.

[2020-10-08 13:55] kishore-tw commented on #14
I would like to work on this. Can you assign this issue to me?

[2020-10-08 13:57] Kishore-abhimanyu commented on #14
I would like to work on this. Can you assign me this issue?

[2020-10-08 16:38] i5han2 commented on #23
I have worked on a similar functionality. please assign me this, i can solve this issue

[2020-10-08 18:07] Sounakde commented on #7
What do I have to do to use this software?

[2020-10-08 20:23] WhiteHeadbanger commented on #7
Just clone it and run the quiet.py file

[2020-10-08 20:33] SethWalkeroo commented on #14
@Kishore-abhimanyu Awesome! Assigned to you.

[2020-10-08 21:02] #27 closed

[2020-10-08 21:03] #24 closed

[2020-10-08 21:04] Ryuno-Ki commented on #7
In case `python3 -m tkinter` throws an error, you can [use Docker for it](https://github.com/SethWalkeroo/Quiet-Text#installation) (assuming a GNU/Linux system).

If you can use tkinter, I'd suggest to set up a virtual environment (I'm still using `virtualenv --python=python3` from my Python2.7 days …), activate it and then execute `python -m quiet.py` within that.

@SethWalkeroo Since @Sounakde a

[2020-10-08 21:08] SethWalkeroo commented on #7
@Ryuno-Ki Sounds great!

[2020-10-08 21:12] Ryuno-Ki opened #32 "Extend README.md"
**Is your feature request related to a problem? Please describe.**
This is a follow-up of https://github.com/SethWalkeroo/Quiet-Text/issues/7#issuecomment-705822816
It shall help contributors and users get up-to-speed with this project.

**Describe the solution you'd like**
A good README should contain the following items (IMHO)

1. The name of the project (Personally, I put [badges](https://shiel

[2020-10-08 21:22] Ryuno-Ki commented on #6
If you add `refs #6` to the commit message GitHub will link https://github.com/SethWalkeroo/Quiet-Text/pull/26 to this issue.

You can even [close an issue via commit message](https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword) once the associated PR gets merged!

[2020-10-08 22:12] #23 closed

[2020-10-09 03:04] #32 closed

[2020-10-09 06:25] #6 closed

[2020-10-09 06:42] SethWalkeroo opened #49 "Allow users to highlight text in different colors"
Right now you can highlight text in the editor, but all the text has to be highlighting in the same color. This sucks and it would be great to be able to highlight different text in different colors. Below is an example of three different highlights that were supposed to have different colors, but did not.

![Image of Yaktocat](https://raw.githubusercontent.com/SethWalkeroo/Quiet-Text/main/images/

[2020-10-09 06:45] SethWalkeroo opened #50 "Implement a bullet system for notetaking"
- something

- like

- this

[2020-10-09 07:53] erzaliator commented on #20
That shouldn't be an issue. For Linux gnome is fairly common and my implementation for Windows support uses the basic command line terminal which comes default.

[2020-10-09 07:56] erzaliator commented on #20
If I may blatantly request, can the necessary tags Hacktoberfest be added as well :)

[2020-10-09 08:25] SethWalkeroo commented on #20
@erzaliator Yeah, i'll get on that.

[2020-10-09 08:25] #20 closed

[2020-10-09 13:00] SethWalkeroo opened #52 "Fix syntax highlighting lag"
Syntax highlighting has been added but it is super laggy when you make edits on larger files. This is most likely because the highlighter tries to re highlight the entire file on every keystroke, instead of just highlighting the characters in your current line. I would try to fix this issue right now, but I am really tired, and I need to go to sleep. I won't be able to assign anyone to the problem

[2020-10-09 13:34] SethWalkeroo opened #53 ""Toggle Line Numbers" option in View cascade for turning on/off the line numbers visibility"
It would also be great to have a key binding associated as well.

[2020-10-09 13:37] SethWalkeroo opened #54 "Create an autoclosing parenthesis and autoclosing brackets feature"
This would be a great start for quality of life improvements in the editor.

[2020-10-09 16:17] Kishore-abhimanyu commented on #54
I would like to work on this? Can you assign me?

[2020-10-09 16:21] Kishore-abhimanyu opened #55 "To add undo feature"
To add undo feature

[2020-10-09 16:21] Kishore-abhimanyu commented on #55
I like to work on this. Can you assign me?

[2020-10-09 16:29] Kishore-abhimanyu commented on #54
I like to work on this and i started working on this. Can you assign me?

[2020-10-09 20:30] SethWalkeroo commented on #55
I'm confused, there's already an undo feature.

[2020-10-09 20:38] #55 closed

[2020-10-10 02:27] Kishore-abhimanyu commented on #54
Can you assign the issue so that i can fix it?

[2020-10-10 03:04] Kishore-abhimanyu commented on #53
I can take this to hide line numbers by key binding. is that okay?

[2020-10-10 03:19] SethWalkeroo commented on #53
@hrishikesharma You can work on this, but I would really prefer it if you finish the other issues you are working on first. If you don't plan on finishing the other issues, it's fine, just tell me so I know whether or not to work on them myself.

[2020-10-10 04:12] hrishikesharma commented on #53
currently I am not working on any other issue so maybe I can give it a try.

[2020-10-10 04:14] #52 closed

[2020-10-10 11:57] SethWalkeroo commented on #53
@hrishikesharma I apologize, I was busy and I thought you were somebody else. Disregard what i said in the previous comment.

[2020-10-10 16:22] SethWalkeroo opened #57 "Create autoclosing single quotes and double quotes for strings"
A nice quality of life feature to have in any text editor.

[2020-10-10 16:22] #57 closed

[2020-10-10 16:24] SethWalkeroo opened #58 "Create an auto indent feature for the text editor"
Allow the editor to automatically indent after the beginning of a block.

[2020-10-10 16:30] #54 closed

[2020-10-10 16:30] #7 closed

[2020-10-10 16:34] Kishore-abhimanyu commented on #54
why is it not merged?can i know the issue?

[2020-10-10 16:35] Kishore-abhimanyu commented on #58
i can take this if you assign me

[2020-10-10 16:42] SethWalkeroo commented on #58
@Kishore-abhimanyu You can do this, but I would like you to re implement the auto closing parenthesis and brackets on the current branch. I also need you to change the key bindings to bindings compatible on the list. I apologize for the previous pull request because I didn't inform you what I was asking for as well as I could have, and I sent a broken link.' <Shift-{>' **is not a valid binding**.

[2020-10-11 16:17] hrishikesharma commented on #53
couldn't do it so unassigning me. So sorry, I really need some more skills to do object-oriented programming.

[2020-10-11 16:19] hrishikesharma commented on #53
Btw there is an error in line no. 480 on https://github.com/SethWalkeroo/Quiet-Text/blob/main/src/quiet_app_launch.py

it should be quoteright , not apostrophe

[2020-10-12 01:03] SethWalkeroo commented on #53
@hrishikesharma Huh, that's interesting. Apostrophe worked for me, but so does quoteright. Are you on Windows? I'm guessing apostrophe might be a Linux thing or something. Anyways, thanks for trying. I've already thought of a way to solve this, so it's no problem.

[2020-10-12 01:32] SethWalkeroo opened #59 "String syntax highlighting does not work with with autocomplete on brackets and parenthesis."
For some reason string do not get highlighted when used alongside parenthesis and bracket autocomplete.

[2020-10-12 06:19] AlejandroGomezFrieiro commented on #49
This project looks interesting, always wanted to work on a text editor in Python. Can I work on this issue?

[2020-10-12 08:19] SethWalkeroo commented on #49
Thanks for showing interest. I love a good text editor and I really wanted to create one of my own. I'm not sure how good I can make this one using only Python, but i'd love to find out. You are welcome to work on any of the existing issues, or create a new issue/feature you would like to fix/add.

[2020-10-12 08:21] #49 closed

[2020-10-12 12:01] hrishikesharma commented on #53
Yes brother , I am using windows

[2020-10-12 13:12] #58 closed

[2020-10-12 15:18] SethWalkeroo opened #61 "Changing font size with scroll wheel resets settings.yaml back to default"
I don't know why this is happening, but the settings get reset to their default values when a user changes the font size with scroll wheel.

[2020-10-12 16:53] FilipZajdel commented on #61
Hi, can I work on this one?

I suppose that the function _load_settings_data_ in quiet_app_launch.py:395 is called with wrong argument.

[2020-10-12 16:56] SethWalkeroo commented on #61
@FilipZajdel Sure, assigned to you!

[2020-10-12 17:19] #61 closed

[2020-10-12 18:30] FilipZajdel commented on #53
Hello, what about "Toggle Line Numbers" option in _View_ cascade for turning on/off the line numbers visibility?

[2020-10-12 18:37] SethWalkeroo opened #64 "Allow users to enable/disable autoclosing brackets, parenthesis, single quotes, double quotes, and curly braces."
Right now there are some booleans to disable/enable autoclosing inside of the config/settings.yaml file. The settings are not doing what they are supposed to right now and it would be good to be able to turn off these features if someone wants to.

[2020-10-12 18:42] SethWalkeroo commented on #53
@FilipZajdel That's a much better name for the issue :+1:

[2020-10-12 18:46] SethWalkeroo opened #65 "Restyle the ctrl+f "find and replace" feature for the text editor"
Restyle the find and replace feature located in **quiet_find.py** to be more visually appealing and in tune with the rest of the editor's theme.

[2020-10-12 18:47] #59 closed

[2020-10-12 18:49] SethWalkeroo opened #66 "Create a dropdown menu for syntax highlighting options"
You can only use Python syntax inside the editor as of writing this issue, but that will change eventually, and it would be a good start to at least have the menu ready.

[2020-10-12 20:52] FilipZajdel commented on #53
Can I work on this one?
Will _[Ctrl-Shift-L]_ key binding suitable for this function?

[2020-10-13 03:12] SethWalkeroo commented on #53
@FilipZajdel sure, go ahead.

[2020-10-13 04:16] jeffmikels commented on #53
I'm sorry I missed seeing that you assigned it already. I have a finished solution if @FilipZajdel doesn't get it or if you want to accept both our pull requests.

[2020-10-13 04:33] jeffmikels opened #68 "Indent on wrap..."
When text auto-wraps to the following line, it's helpful to have the wrapped text also be indented more than the text above it.

I would like to implement that in the editor.

Here's an example:

## normal soft-wrapping:

[code]

## same-level indent on soft-wrapped text

[code]

## extra indent on soft-wrapped text

[code]

[2020-10-13 07:36] #66 closed

[2020-10-13 07:36] #53 closed

[2020-10-13 14:24] SethWalkeroo opened #70 "Create more themes/colorschemes for the editor"
The editor has 5 themes at the time of writing this: Monokai, Monokai Pro, Solarized, Gruvbox, and Dark Heart. It would be cool to see some other popular themes for the editor as well. The themes are made with .yaml files inside the theme directory. You can enable the themes yourself by creating functions for loading the themes inside quiet_menubar.py, but that is not required, and I can handle th

[2020-10-13 14:28] SethWalkeroo opened #71 "Enhance the auto indentation feature to indent all the code beneath a block"
Right now there is an autoindentation function, but it only works for one line after a colon ":". It would be nice to have everything under the block be indented as well.

[2020-10-13 14:30] SethWalkeroo opened #72 "Allow the user to indent blocks of code with the tab key."
Allow the user to select a chunk of text in the editor and hit tab to indent the entire block. Bonus points if you also implement a <kbd>shift</kbd>+<kbd>tab</kbd> command for unindenting the block of text.

[2020-10-13 15:48] Guiguerreiro39 commented on #72
Hi,
Can you assign it to me? I would like to take a look at this

[2020-10-13 17:05] Sonny812 opened #74 "Add a CLI argument to launch the application with opening the specified file"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I can't specify the name of the file that should be opened when starting the application from the command line.

**Describe the solution you'd like**
Add a command line argument that you can use to specify the name of the file to open.

**Describe alternatives you've considered**
\-

**Additional context*

[2020-10-13 17:13] sonnymilton commented on #74
Hello, @SethWalkeroo! Do you like this feature?
If you like the feature, then I could work on it. Can you assign this issue to me, please?

[2020-10-13 17:15] SethWalkeroo commented on #74
@Sonny812 Sure, seems like a cool idea, especially since there is no binary release yet.

[2020-10-13 17:38] Guiguerreiro39 commented on #72
Unfortunately I haven't implemented the bonus feature @SethWalkeroo but create another issue and I'll give it a look!

[2020-10-13 17:50] jianajavier commented on #71
@SethWalkeroo I can try to take this on. Can you assign to me please?

[2020-10-13 17:56] jianajavier commented on #65
@SethWalkeroo I can take this on, can you assign to me please?

[2020-10-13 17:58] SethWalkeroo commented on #71
sure, go ahead

[2020-10-13 18:03] #72 closed

[2020-10-13 18:05] SethWalkeroo opened #77 "Allow users to unindent multiple lines of code with Shift and Tab"
Right now users can indent multiple lines using <kbd>Tab</kbd> but we also want them to be able to unindent multiple lines as well with <kbd>Shift</kbd>+<kbd>Tab</kbd>.

[2020-10-13 18:07] #74 closed

[2020-10-13 18:28] Guiguerreiro39 commented on #77
I'll happily do it!

[2020-10-13 18:58] SethWalkeroo commented on #77
@Guiguerreiro39 Go ahead, round 2 :)

[2020-10-14 02:32] jianajavier commented on #71
Here's the PR: https://github.com/SethWalkeroo/Quiet-Text/pull/79

[2020-10-14 04:32] #71 closed

[2020-10-14 09:03] SethWalkeroo opened #80 "Add some kind of status or notification that indicates the syntax you have selected."
I recently added syntax support for C and JavaScript and it would be useful to be able to know what language you have selected from the menu cascade.

[2020-10-14 09:08] SethWalkeroo opened #81 "Add a feature for setting and saving a default theme for the editor."
There is a default theme already in the theme configs, but it never changes. It would be cool if the user didn't have to reset their theme every time they reloaded the editor.

[2020-10-14 09:10] SethWalkeroo opened #82 "Add a feature for setting a default syntax."
Right now the editor always opens up with python syntax highlighting as its default. It would be cool if the user could set another language as their default if they prefer.

[2020-10-14 09:15] zer0link commented on #81
Hi, this seems like an interesting issue, can you please assign to me so I work on that?

[2020-10-14 09:17] SethWalkeroo commented on #81
@zer0link for sure, message me if you have any difficulties. The feature is brand new and I haven't fully thought out how it will be continually integrated.

[2020-10-14 09:41] zer0link commented on #81
Thanks for the assignment, @SethWalkeroo ,
I tried to run the steps in [readme](https://github.com/SethWalkeroo/Quiet-Text/blob/main/README.md), and I played around with the color schemes and restarting the editor a couple of times. It seems to remember the last color scheme I am using.
Maybe I misunderstood the issue here, can you show me a step by step to reproduce the issue?

[2020-10-14 09:59] SethWalkeroo commented on #81
@zer0link Oh, looks like there is a problem with loading the default theme. If you open up the editor again and try entering some syntax, you will notice that the syntax is in the theme of Gruvbox, which is the default theme at the moment. I forgot to initialize the rest of the theme, I will work on that now.

[2020-10-14 10:22] SethWalkeroo commented on #81
@zer0link Alright, the default theme should load up the same every time you launch the editor now.

[2020-10-14 11:10] #82 closed

[2020-10-14 12:20] zer0link commented on #81
Yes, I can see everytime I restarted the editor, it uses the default theme (Gruvbox)

[2020-10-14 12:49] SethWalkeroo commented on #77
@Guiguerreiro39 Hey I was wondering if I could get you to fix your auto unindent feature. I'm embarrassed to admit, but I didn't test it before I merged it, and it turns out it doesn't work. When you bound your tab_text function to the tab key, you overwrote the normal function of the tab key and now it doesn't work at all. deleted the keybindings and recommitted the branch for the time being.

[2020-10-14 13:00] Guiguerreiro39 commented on #77
It's working for me in single and multi lines.. What OS are you using?

[2020-10-14 13:21] SethWalkeroo commented on #77
@Guiguerreiro39 I am on Linux, maybe that's the issue?

[2020-10-14 13:22] Guiguerreiro39 commented on #77
Yes, that's the issue :( I will fix it for linux as well

[2020-10-14 13:40] Guiguerreiro39 commented on #77
Since I'm not using linux and I don't really have the time to setup a VM with it, can you test with this keybind instead? @SethWalkeroo

**<Shift-ISO_Left_Tab>** or **<Control-ISO_Left_Tab>**

[2020-10-14 13:42] SethWalkeroo commented on #77
@Guiguerreiro39 Of course, one minute.

[2020-10-14 13:46] SethWalkeroo commented on #77
@Guiguerreiro39 I'm still running into the same problem. I can't tab or indent anything.

[2020-10-14 13:54] Guiguerreiro39 commented on #77
@SethWalkeroo Are you getting any error in the console?

[2020-10-14 14:07] SethWalkeroo commented on #77
@Guiguerreiro39 I am not getting any errors in the console, no.

[2020-10-14 14:08] Guiguerreiro39 commented on #77
Well that's annoying ... I will write some code that makes the keybind work only for mac or windows and then I can later figure out which keybind should I use for linux

[2020-10-14 14:18] Guiguerreiro39 commented on #77
@SethWalkeroo just a thought.. can you remove the keypress inside of the keybinds that I've made?

[2020-10-14 14:36] SethWalkeroo commented on #77
@Guiguerreiro39 Still no luck. I have a Windows pc I can test this on. I'll check it out on there and see if I can't put a fix together.

[2020-10-14 15:00] SethWalkeroo commented on #81
I just realized how dumb it is to have a default theme when the theme saves all by itself. Forget this issue. I don't know where my head was at.

[2020-10-14 17:10] SethWalkeroo opened #86 "Fix the redo command (ctrl+shift+z) for windows."
This command works fine on linux, but it doesn't work on windows.

[2020-10-14 19:06] Guiguerreiro39 commented on #77
Let me know once you can test it 👍

[2020-10-15 01:27] jianajavier commented on #65
PR for this issue is here: https://github.com/SethWalkeroo/Quiet-Text/pull/87

[2020-10-15 03:45] #65 closed

[2020-10-15 06:22] #70 closed

[2020-10-15 06:23] SethWalkeroo opened #88 "Create some more color schemes for the text editor."
The editor has 6 color schemes/themes at the time of writing this: Monokai, Monokai Pro, Solarized, Gruvbox, Dark Heart, and Githubly. It would be cool to see some other popular themes for the editor as well. The themes are made with .yaml files inside the theme directory. You can enable the themes yourself by creating functions for loading the themes inside quiet_menubar.py, but that is not requi

[2020-10-15 07:17] #64 closed

[2020-10-15 10:15] SethWalkeroo opened #89 "Allow users to compile and run C files with the ctrl+r run command on Windows"
Right now you can compile and run C files, but it only works with the gnome terminal on Linux. it would be great to have this work on Windows as well.

[2020-10-15 10:16] SethWalkeroo opened #90 "Allow users to run their JavaScript files with the ctrl+r command on Windows"
Right now you can run your javascript files through node, but it only works with the Gnome terminal on Linux. It would be awesome to have this work with the windows command prompt as well.

[2020-10-15 10:17] SethWalkeroo commented on #77
@Guiguerreiro39 Hmm, I tested this on my Windows computer and it still wasn't working. Do you know anybody else that can try this out?

[2020-10-15 10:26] Guiguerreiro39 commented on #77
I don't know.. But it's weird, in mine is working perfectly.. I saw in the master branch the function is not up-to-date? Have you tested with the new one or did you test it just after cloning?

[2020-10-15 10:29] rudhrasekar commented on #89
I would like to work on this, Can you assign me the issue?

[2020-10-15 10:31] Guiguerreiro39 commented on #77
![Indent](https://user-images.githubusercontent.com/11543544/96112087-fec5cc80-0ed9-11eb-9a01-1a0142698e21.gif)

[2020-10-15 11:13] SethWalkeroo commented on #89
@rudhrasekar sure, go for it!

[2020-10-15 11:18] SethWalkeroo commented on #77
@Guiguerreiro39 Is this using your version of the main branch? I will give it another go.

[2020-10-15 11:20] Guiguerreiro39 commented on #77
Yes, I've tested with my current version on my main branch.. I saw yours and it seems it's not up-to-date with mine, atleast the part for unindent

[2020-10-15 11:30] SethWalkeroo commented on #77
@Guiguerreiro39 Yes, that's because I removed the bindings and code for the time being. I just tried your branch with windows and I am running into the same problem. Any other ideas for what the issue might be?

[2020-10-15 11:37] Guiguerreiro39 commented on #77
That's really weird.. The keybind function is the thing that's overwritting the normal functionality of <kbd>Tab</kbd> when returning "break", so I think your machine is recognizing the keypress.. Is indenting multiple lines working? If you had time to debug the function it would be great

[2020-10-15 11:42] Guiguerreiro39 commented on #77
Can it be python version? Mine is 3.8.3

[2020-10-15 11:44] SethWalkeroo commented on #77
@Guiguerreiro39 I think that I am close to fixing things. It has to do with the event state, and the binding with shift and tab. I changed the if statements in the function to check for even.state == 0 instead of 8, and I swapped the keybinding shift-keypress-tab for control-i (for testing) and everything worked perfectly. I will let you know when I think everything works (for me at least) and the

[2020-10-15 11:46] Guiguerreiro39 commented on #77
OK great! The event.state that I was getting for <kbd>Shift</kbd>+<kbd>Tab</kbd> was 8, it might change on different machines or versions perhaps! Looking forward for updates 👍

[2020-10-15 11:55] JakubGacki commented on #88
Would you mind if I add a Dracula and Pumpkin theme?

[2020-10-15 12:00] JakubGacki opened #91 "Duplicated code in quiet_menubar.py"
In **quiet_menubar.py** I found a lot of duplicated code, e.g. separate methods for load each theme.
It can be refactored in an easy way.

[2020-10-15 12:08] SethWalkeroo commented on #77
@Guiguerreiro39 Okay, so things are working as expected, I can tab and untab text, but there seems to be another issue. I can only unindent text that I have indented in the current session. If I try to unindent  text that indented before I opened the file, it does nothing. Is this issue something else related to the current issue, or does this happen for you as well?

[2020-10-15 12:19] Guiguerreiro39 commented on #77
@SethWalkeroo Well, I've tried to write a file, indent, save and reopen and it's still working fine.. One thing to consider is that copied text from vscode seem to replace /t for spaces and the unindent does only delete /t characters at the beginning of the line.. That can be the cause of this issue

[2020-10-15 12:42] SethWalkeroo commented on #88
of course not, more the merrier! I'll probably have to find a better way to store and organize themes, but add whatever you like for now.

[2020-10-15 12:48] JakubGacki commented on #88
Great!

I already add a [proposal](https://github.com/SethWalkeroo/Quiet-Text/issues/91) of a little change in **quiet_menubar.py**. It could be a good start of themes management improvement.

[2020-10-15 13:09] JakubGacki commented on #88
Do you have restricted access to the repository?

[2020-10-15 13:26] SethWalkeroo commented on #88
@JakubGacki No, what are you talking about?

[2020-10-15 13:30] JakubGacki commented on #88
@SethWalkeroo I've got error that permission to this repo is denied to me.

[2020-10-15 14:22] SethWalkeroo commented on #88
Did you get this figured out? Seems like you got the repository and a pull request out okay.

[2020-10-15 14:22] #88 closed

[2020-10-16 07:55] SethWalkeroo commented on #91
I believe I have cleaned this up a bit. That Menu class had absolutely no reason to be there. Thanks for pointhing this out! :+1:

[2020-10-16 07:55] #91 closed

[2020-10-16 15:42] #77 closed

[2020-10-16 15:43] #14 closed

[2020-10-16 18:16] SethWalkeroo opened #93 "Reorganize code"
Most of the code inside quiet_app_launch.py needs to be moved into quiet_textarea.py. The structure of the code is a mess and I can't add tabbed windows until CustomText contains all of text widget related functions and attributes.

[2020-10-18 07:55] #90 closed

[2020-10-18 17:00] SethWalkeroo opened #94 "Fix the build, run, and build+run commands so they work on Windows."
Right now all the command work on Gnome terminals for linux, but I didn't exactly know how to write the bash commands for Windows, so some of the windows commands don't work. The functions are located inside quiet_menubar.py and the bash commands just need to be adjusted so they do what they're supposed to.

[2020-10-18 17:01] #89 closed

[2020-10-18 17:01] #81 closed

[2020-10-18 17:01] #50 closed

[2020-10-18 18:32] pointThink opened #95 "start.bat and start.sh tries to open a non-existing file"
the start.bat and star.sh scripts try to open _quiet_app_launch.py_ which is a file that doesn't exist

start.bat
`python3 quiet_app_launch.py`

start.sh
`#!/bin/sh`
`/usr/bin/env`` python3 quiet_app_launch.py`

[2020-10-18 18:34] PointThink commented on #95
should be a quick fix

[2020-10-18 18:48] SethWalkeroo commented on #95
@pointThink Ah, thank you! I changed the main file a while back and forgot to change this.

[2020-10-18 18:49] #95 closed

[2020-10-18 19:41] zer0link commented on #81
Hi, can I know if the issue is still open?

[2020-10-18 19:49] SethWalkeroo commented on #81
@zer0link No, sorry, this issue is now closed. I've added the default theme setting to the editor.

[2020-10-19 16:55] #94 closed

[2020-10-27 19:17] SethWalkeroo opened #96 "Rust Syntax Highlighting is Trash"
Rust syntax highlighting doesn't initialize correctly and looks really messed up. Just jotting this down in the issue section so I remember to somehow fix this abomination in the future.

[2020-10-27 19:18] #80 closed

[2020-10-27 21:20] SethWalkeroo opened #97 "Top Level Windows are not appearing inside the editor"
The Search and Replace and File Tree windows are appearing outside of the editor/textarea and are not as quickly accessible as they should be because of that.

[2020-10-27 22:49] #86 closed

[2022-10-28 08:10] kenrap commented on #93
Is this issue still available? And if so, what are the current requirements for clean up?